/* styles.css */
table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
}
  
th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
th {
    background-color: #f2f2f2;
}
  
.table-image {
    max-width: 400px;
    max-height: 400px;
}

/* Style for the tabs container */
.tab-container {
    display: flex;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
  }

  /* Style for individual tabs */
  .tab {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }

  /* Style for active tab */
  .tab.active {
    background-color: #fff;
    border-bottom: 1px solid #fff;
  }

  /* Style for tab content */
  .tab-content {
    display: none;
  }

  /* Show tab content when tab is active */
  .tab-content.active {
    display: block;
  }